body {
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
}

.split-container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  align-items: center;
  justify-content: center;
  align-items: stretch; /* Garante que ambos os lados tenham a mesma altura */
}

.image-container, .login-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container {
  flex: 1;
  max-width: 50%; /* Define um tamanho máximo para a largura */
  background: #f38a69; /* Cor de fundo */
  border-radius: 20px; /* Cantos arredondados */
  padding: 20px; /* Espaçamento interno */
  margin: 20px 0px 20px 20px; /* Espaçamento externo para evitar encostar nas bordas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para efeito de profundidade */background: #f38a69; /* Cor de fundo ou imagem de fundo */
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px; /* Mantém os cantos arredondados da imagem */
  object-fit: cover;
}

.login-container {
  background: #fff;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 20px 20px 20px 5px; /* Espaçamento externo para evitar encostar nas bordas */
  
}

.login-box {
  max-width: 400px;
  width: 100%;
  
}

h2 {
  margin-bottom: 20px;
  color: #333;
  border-bottom: 2px solid #f38a69;
  display: inline-block;
  padding-bottom: 5px;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

p {
  margin-top: 10px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.error-message {
  display: none;
  color: red;
 
  
  text-align: center;
}

.error-message.visible {
  display: block;
  margin-bottom: 10px;
}

.loading-spinner {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #007bff; /* Azul, ou a cor que preferir */
  margin-top: 20px;
  margin-bottom: 10px;
  /* Se preferir um spinner animado, pode usar uma animação CSS ou uma imagem gif */
}


