<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Produto</title>
    <link rel="icon" href="/static/imagem/icone.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/editar_produto.css">
</head>
<body>
    {% include 'navbar.html' %}
    
    <div class="container">
        <h2>Editar Produto</h2>
        <form action="{{ url_for('salvar_produto_editado', id_produto=produto.id) }}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="nome">Nome do Produto:</label>
                <input type="text" id="nome" name="nome" value="{{ produto.nome }}" style="text-transform: uppercase;" required>
            </div>
            <div class="form-group">
                <label for="quantidade">Quantidade:</label>
                <input type="number" id="quantidade" name="quantidade" value="{{ produto.quantidade }}" min="1" required>
            </div>
            <div class="form-group">
                <label for="descricao">Descrição:</label>
                <textarea id="descricao" name="descricao" rows="4" style="text-transform: uppercase;" required>{{ produto.descricao }}</textarea>
            </div>
            <div class="form-group">
                <label for="preco_compra">Preço de Compra (R$):</label>
                <input type="number" id="preco_compra" name="preco_compra" value="{{ produto.preco_compra }}" min="0" step="0.01" required>
            </div>
            <div class="form-group">
                <label for="preco_venda">Preço de Venda (R$):</label>
                <input type="number" id="preco_venda" name="preco_venda" value="{{ produto.preco_venda }}" min="0" step="0.01" oninput="calcularLucro()" required>
            </div>
            <div class="form-group">
                <label for="lucro_reais">Lucro (R$):</label>
                <input type="text" id="lucro_reais" name="lucro_reais" readonly>
            </div>
            <div class="form-group">
                <label for="lucro_porcentagem">Lucro (%):</label>
                <input type="text" id="lucro_porcentagem" name="lucro_porcentagem" readonly>
            </div>
            <div class="form-group">
                <label for="imagem">Imagem do Produto:</label>
                <input type="file" id="imagem" name="imagem" accept="image/*">
                {% if produto.imagem_url %}
                    <img src="{{ produto.imagem_url }}" alt="Imagem do Produto" style="max-width: 200px; margin-top: 10px;">
                {% endif %}
            </div>

            <div id="loading-message" style="display: none;">
                <img src="/static/imagem/Loading.gif" alt="Carregando..." style="float: left; margin-right: 10px; width: 50px; height: 50px;">
                <p style="overflow: hidden; line-height: 50px;">Editando produto, por favor aguarde...</p>
            </div>

            <div class="form-group">
                <input type="submit" id="btn-editar" value="Salvar Alterações">
            </div>
        </form>
    </div>

    <div id="overlay" class="overlay">
        <div class="overlay-content">
            <p>Produto editado com sucesso!</p>
            <button onclick="closeOverlay()">OK</button>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        function logout() {
            window.location.href = "/logout";
        }

        // Verificar se o usuário chegou a esta página usando a seta de voltar do navegador
        window.onload = function() {
            if (window.performance && window.performance.navigation.type === window.performance.navigation.TYPE_BACK_FORWARD) {
                window.location.replace("/");
            }
        };

        function calcularLucro() {
            var precoCompraInput = document.getElementById("preco_compra");
            var precoVendaInput = document.getElementById("preco_venda");

            if (precoCompraInput.value && precoVendaInput.value) {
                var precoCompra = parseFloat(precoCompraInput.value);
                var precoVenda = parseFloat(precoVendaInput.value);

                var lucroReais = precoVenda - precoCompra;
                var lucroPorcentagem = (lucroReais / precoCompra) * 100;

                document.getElementById("lucro_reais").value = lucroReais.toFixed(2);
                document.getElementById("lucro_porcentagem").value = lucroPorcentagem.toFixed(2) + "%";
            } else {
                document.getElementById("lucro_reais").value = "";
                document.getElementById("lucro_porcentagem").value = "";
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('btn-editar').addEventListener('click', function(event) {
                event.preventDefault(); // Evita o envio tradicional do formulário

                if (validarFormulario()) {
                    document.getElementById('loading-message').style.display = 'block';  // Exibe mensagem de "aguarde"

                    var form_data = new FormData();
                    form_data.append('nome', document.getElementById('nome').value);
                    form_data.append('quantidade', document.getElementById('quantidade').value);
                    form_data.append('descricao', document.getElementById('descricao').value);
                    form_data.append('preco_compra', document.getElementById('preco_compra').value);
                    form_data.append('preco_venda', document.getElementById('preco_venda').value);
                    form_data.append('lucro_reais', document.getElementById('lucro_reais').value);
                    form_data.append('lucro_porcentagem', document.getElementById('lucro_porcentagem').value);
                    
                    var urlParts = window.location.pathname.split('/');
                    var id_produto = urlParts[urlParts.length - 1];

                    var imagemInput = document.getElementById('imagem');
                    var imagemFile = imagemInput.files[0];

                    if (imagemFile) {
                        form_data.append('imagem', imagemFile);
                    }

                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', `/salvar_produto_editado/${id_produto}`, true);
                    xhr.onload = function() {
                        document.getElementById('loading-message').style.display = 'none';

                        if (xhr.status === 200) {
                            showOverlay(); // Exibe o overlay no sucesso
                        } else if (xhr.status === 409) {
                            alert('Produto já cadastrado anteriormente!');
                        } else {
                            alert('Ocorreu um erro ao editar o produto. Por favor, tente novamente.');
                        }
                    };

                    xhr.onerror = function() {
                        document.getElementById('loading-message').style.display = 'none';
                        alert('Erro de rede. Verifique sua conexão e tente novamente.');
                    };

                    xhr.send(form_data);
                }
            });
        });

        function showOverlay() {
            document.getElementById('overlay').style.display = 'flex'; // Exibe o overlay
        }

        function closeOverlay() {
            document.getElementById('overlay').style.display = 'none'; // Oculta o overlay
             window.location.href = "/listar_produtos"; // Redireciona para a página de listar produtos
            
        }
        
        function validarFormulario() {
            var nome = document.getElementById('nome').value;
            var quantidade = document.getElementById('quantidade').value;
            var descricao = document.getElementById('descricao').value;
            var precoCompra = document.getElementById('preco_compra').value;
            var precoVenda = document.getElementById('preco_venda').value;

            if (nome === '' || quantidade === '' || descricao === '' || precoCompra === '' || precoVenda === '') {
                alert('Por favor, preencha todos os campos.');
                return false;
            }

            return true;
        }

        document.addEventListener('DOMContentLoaded', function() {
            calcularLucro();
        });
    </script>
</body>
</html>
