<!DOCTYPE html>
<html>
<head>
  <title>Recuperação de Senha</title>
  <link rel="stylesheet" href="/static/css/pagina_recuperar_senha.css">
</head>
<body>
  <div class="container">
    <h1>Redefinição de Senha</h1>
    <form id="redefinir-senha-form">
      <!-- token vindo do Flask: render_template('pagina_nova_senha.html', token=token) -->
      <input type="hidden" id="token" name="token" value="{{ token }}">

      <label for="nova-senha">Digite a nova senha:</label>
      <input type="password" id="nova-senha" name="nova-senha" required minlength="8">

      <br>
      <label for="repetir-senha">Repita a nova senha:</label>
      <input type="password" id="repetir-senha" name="repetir-senha" required minlength="8">

      <br>
      <button type="submit">Alterar</button>
    </form>
    <div id="message"></div>
  </div>
  <script src="/static/js/nova_senha.js"></script>
</body>
</html>
